input {
  width: 3rem;
  height: 3rem;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

input:focus {
  outline: 1px solid springgreen;
}

.phone-number {
  width: 50%;
  text-align: start;
}
